.App {
  text-align: center;
}

body {
  margin: 0;
}

.userInfo {
  width: 400px;
  margin: auto;
  background-color: orange;
  color: black;
  border-radius: 5px;
}


.userHeader {
  width: 100%;
  height: 200px;
  background-color: orange;
  position: relative; 
} 

.userHeader input {
  width: 250px;
  height: 30px;
  border: 1px solid white;
  outline: 1px solid white;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

